/* adding more dividing lines to categorise styling attributes */

/* universal styling to all html on page */
body {
  /* vh is targeting the viewport height, ensuring the contents of the page is AT LEAST using the full height of the screen */
  min-height: 100vh;

  /* colour styling for bg and elements, will probably change later */
  background: black;
  color: white;

  /* flexbox attributes, make sure everything is centered on the page, lets keep it simple */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* equates to around 16px of space around all the elements from the viewport sides */
  padding: 4rem;

  /* need to change this */
  font-family: "REM", sans-serif;

  /* hides any element overflowing that isnt already visible to the user */
  overflow: hidden;
}

/* styling to the spacing of the audioplayer container */
.player-container {
  /* take up to 1800px for width, if vp is less than simply fill */
  width: 100%;
  max-width: 1800px;

/* flexbox attributes for the player container elements specifically, that is then being centered by the previously styled flexbox in the body */
  display: flex;
  /* aligning-items (that are already in the center of the page) to the center of their container, confusing but makes sense */
  align-items: center;
  /* gap between the playback info and controls */
  gap: 6rem;
}

/* styling to the playback control elements */
.playback-controls {
  /* ensures that styling done to the spacing of playback control elements (skip, play/pause, rewind buttons) are applied from within (relative to) the player-controls container, not the page or the parental player-container */
  position: relative;

  /* this is overkill with the height but its just to give ample space to the buttons, they're centered anyways so its chill */
  width: 700px;
  height: 700px;

  /* border enclosing the elements + rounding, gotta change this later -- dont like how it looks */
  border: 2px solid white;
  border-radius: 2rem;

  /* centering elements within the overkill width and height styled above */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* specifically styling to the playbutton, which is a child class of the playback-controls class */
.play-button {
  width: 560px;
  height: 560px;

  /* how tf does 50% make it fully circular */
  border: none;
  border-radius: 50%;

  background: white;

  /* centering the play/pause images within the play-button container */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*

ALL OF ROHIT'S CODE BELOW

.double-border {
  border: 6px double rgb(65, 41, 27);
  border-radius: 16px;
}

video {
  width: 800px;
  height: auto;
  border-radius: 12px;
}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
}
.main-screen,
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-screen {
  padding: 10px;
  width: 100%;
}

.controls {
  gap: 10px;
  padding: 10px;
}

.playlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  padding: 10px;
  border-bottom: 6px double rgb(65, 41, 27);
}

#progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: gray;
}
#progress-bar {
  width: 0%;
  display: block;
  background-color: coral;
  height: 100%;
  transition: width 0.2s ease;
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 1.2rem;
  color: black;
  border-radius: 12px;
  background-color: rgba(250, 235, 215, 0.588);
}

button:hover {
  scale: 0.9;
  background-color: rgba(250, 235, 215, 0.25);
}

#likes {
  font-size: 2.2rem;
  color: rgb(168, 55, 55);
} */
